<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
	<title>Residential Property System</title>
	
	<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
	
	<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
	
	<div class="container">
	<h2>Residential Property System</h2>
	<hr/>
	
	<a th:href="@{/selfAssessmentForm}" class="link-primary">SelfAssesmentform</a>
	<br/><br/>
	<br/><br/>
	<br/><br/>
<a th:href="@{/zonalwisereport}" class="link-primary">Zonal-wiseReport</a>
	</DIV>
	</body>